body {
	background: #474747 url(bg.png);
	margin: 70px;
}

#titulo_pagina{
	text-align: center;
	margin-top: 5%;
	font-size: 50;
}

h1 {
	display: block; text-decoration: none;
	font: 150px Helvetica, Arial, Sans-Serif; letter-spacing: -5px;  
	text-align: center;
	color: #999; text-shadow: 0px 3px 8px #2a2a2a;
 }

 h2 {
	font: 20px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	
	color: #222; text-shadow: 0px 2px 3px #555;
}

 #caja_imagen {
	width: 800px; margin: 0 auto; background: #222; padding: 20px;
	font-size: 22px; color: #555; text-shadow: 0px 2px 3px #171717;
	
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}


#nave {
	position: absolute;
	left: 42%;
	top: 25%;
	-webkit-animation: rot 5s infinite linear;
	animation: rot 5s infinite linear;
}

@-webkit-keyframes rot {
	
	from {
		transform: rotate(0deg)
		           translate(-350px)
	}
	to {
		transform: rotate(360deg)
		           translate(-350px) 
	}
}

@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-150px)
	}
	to {
		transform: rotate(360deg)
		           translate(-150px) 
	}
}

#img_construct{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

