<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="UGR AeroSPace">
    <meta name="author" content="iv-aerospace" />
    <!-- <link rel="icon" href="../../favicon.ico"> --> 

    <title>UGR Aerospace Program</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="static/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <script type="text/javascript">
	
	function seguridad() { // Seguridad para contraseñas
	   var longitud = document.getElementById('strength');
	   var longitud_alta = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
	   var longitud_mediana = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
	   var password = document.getElementById("password").value;
	
	   if (longitud_alta.test(password)) {
	      longitud.innerHTML = '<span style="color:green">Contraseña muy segura</span>';
	   } else if (longitud_mediana.test(password)) {
	      longitud.innerHTML = '<span style="color:orange">Contraseña normal</span>';
	   } else {
	    longitud.innerHTML = '<span style="color:red">Contraseña débil</span>';
	   }
	
	}
	
	function Valida(form) {
	
		var usuario = document.getElementById("usuario").value;
		var password= document.getElementById("password").value;
		var nombre= document.getElementById("nombre").value;
		var apellido= document.getElementById("apellido").value;
		var email= document.getElementById("correo").value;
		var telefono= document.getElementById("telefono").value;
		
			
		  if(usuario.length==0) { //¿Tiene 0 caracteres?
		    alert('No has escrito el nombre de usuario'); //Mostramos el mensaje
		
		    return false; 
		  }
		  if(email.length==0) { //comprueba que no esté vacío
		  
		    alert('No has escrito tu e-Mail');
		    return false;
		  }
		  if(telefono.length==0) { //comprueba que no esté vacío
		  
		    alert('No has escrito tu teléfono');
		    return false;
		  }
		  
		  if( !(/^\d{9}$/.test(telefono)) ) {
		   alert('No has introducido un número de teléfono correcto');
			return false;
		  }
		  
		  if( !(/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$/.test(email)) ) {
			alert('El formato de email introducido no es el correcto');
			return false;
		  }

		
		  return true; //Si ha llegado hasta aquí, es que todo es correcto
  
}
	  

</script>
  <body>

    <div class="container">

	  <div id="sesion_usuario">
	  	<div id="mensaje_bienvenida" class="alert alert-success">Ha iniciado sesión como: {{sesion}}</div>
	  	<input id="boton-cerrar" type="button" value="Cerrar sesión" onclick="location.href='/cerrar_sesion';" class="btn btn-warning" />
	  </div>
	  
      <div class="masthead" id="barra_navegacion">
        <h3 class="text-muted">UGR Aerospace Program</h3>
        <nav>
          <ul class="nav nav-justified">
             <li><a href="/loged">Inicio</a></li>
            <li><a href="/estadisticas">Estadísticas</a></li>
            <li><a href="/listar">Tabla</a></li>
            <li class="active"><a href="/editar_perfil">Editar perfil</a></li>
            <li><a href="/monitor">Seguimiento Robot</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="/twitter">Social</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
      <div class="container" id="formulario">
        <h2>Formulario de edición del perfil de usuario </h2>
        <p id="mensaje">{{message}}</p>
		<br/>
		 {% for n in usuarios %}
			<form action="/editar_perfil" onsubmit="return Valida(this);" method="post" role="form">
			  <div class="form-group">
				<label for="user">Usuario*</label>
				<input type="text" class="form-control" id="usuario" name="usuario" readonly 
					   placeholder="{{sesion}}">
			  </div>
			  <div class="form-group">
				<label for="password">Contraseña*</label>
				<input type="password" onkeyup="return seguridad()" class="form-control" id="password"  name="password"
					   placeholder="{{n.password}}">
				 <p id='strength'></p>
			  </div>
			  <div class="form-group">
				 <label for="nombre">Nombre*</label>
	             <input type="text" class="form-control"  id="nombre"  name="nombre"
					   placeholder="{{n.nombre}}">
			  </div>
			  <div class="form-group">
				<label for="apellido">Apellido*</label>
	            <input type="text" class="form-control"  id="apellido"  name="apellido"
					   placeholder="{{n.apellido}}">
			  </div>
		      <div class="form-group">
				<label for="correo">Email*</label>
				<input type="email" class="form-control" id="correo" name="correo"
					   placeholder="{{n.correo}}">
			  </div>
	
			  <div class="form-group">
				<label for="telefono">Teléfono</label>
	            <input type="tel" class="form-control"  id="telefono" name="telefono" 
	            placeholder="{{n.telefono}}">
			  </div>
			  <button type="submit" class="btn btn-default">Enviar</button>
			</form>
			 {% endfor %}

      </div>
    </div>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; UGR Aerospace Program</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
