<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="UGR AeroSPace">
    <meta name="author" content="iv-aerospace" />
    <!-- <link rel="icon" href="../../favicon.ico"> --> 

    <title>UGR Aerospace Program</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">

    <link href="static/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UGR Aerospace Program</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action='/'>
            <button type="submit" class="btn btn-warning">Volver a la página principal</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>UGR Aerospace Program</h1>
        <p><h2>Integrantes:</h2>
<ul>
<li>Julio Martínez Martínez-Checa</li>
<li>Juan Francisco Rodríguez Vílchez</li>
<li>Hans-Manuel Grenner Noguerón</li>
<li>Óscar Sánchez Martínez</li>
<li>Jose Antonio Plata Muñoz</li>
<li>Miguel Martínez Castellano</li>
<li>Cristina Rosillo Arenas</li>
</ul>

<h2>Objetivos a conseguir con la aplicación:</h2>

Nuestro grupo ha decidido trabajar en el UGR Aerospace program para desarrollar su infraestructura y plataforma. El motivo de trabajar en este proyecto es porque parte del equipo estamos apuntados previamente al programa y nos parece interesante participar en él.

Vamos a usar la infraestructura de Google usando AppEngine para desarrollar la aplicación y Google Drive para almacenar los documentos para que sean colaborativos. Los objetivos a conseguir son los siguientes:

<ul>
<li>Recepción y procesamiento de los datos.</li>
<li>Simular y elegir el formato según el tipo de dato (podremos elegir entre temperatura, altura, velocidad del viento...)</li>
<li>Procesamiento de las imágenes (gráficos).</li>
</ul>

<h2>Datos a tener en cuenta:</h2>

<li>Los datos recibidos son heterogéneos, por lo tanto no todos se procesarán de la misma manera</li>
<li>Dependiendo del tipo de dato, la actualización de estos será cada "x" tiempo.</li>
<li>Dependiento del tipo de dato, se mostrarán en un determinado gráfico.</li>
<li>Para trabajar con gráficos se ha decidido utilizar GoogleChart.</li>
</ul>

Samuel nos suministrará de una BDD de prueba para poder trabajar con la recepción de datos.

</p>
      </div>
    </div>


      <hr>

      <footer>
        <p>&copy; UGR Aerospace Program</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
