<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="UGR AeroSPace">
    <meta name="author" content="iv-aerospace" />
    <!-- <link rel="icon" href="../../favicon.ico"> --> 

    <title>UGR Aerospace Program</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="static/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeg7_wBHhNsW24D8To6ywYLweM-83sN7E&sensor=true"> </script>
    <script>

var coordenadas;
var marker;
var map;

function actualizarMapa() {
  $.ajax({
                type: 'GET',
                url: '/coordenadas',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (data) {
                  coordenadas = data;
                  var latlng = new google.maps.LatLng(coordenadas[0], coordenadas[1]);
                  marker.setPosition(latlng);
                  map.setCenter(latlng); 
                }
        });
}

function initialize() {
  var myLatlng = new google.maps.LatLng(37.19699469878369, -3.6241040674591507);
  var mapOptions = {
    zoom: 18,
    center: myLatlng
  }
  map = new google.maps.Map(document.getElementById('map-canvas2'), mapOptions);

  marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!',
      icon: '../static/imagenes/ship.png'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

setInterval(actualizarMapa, 1000);

    </script>
  </head>
  <body>
  <div class="container">

	  <div id="sesion_usuario">
	  	<div id="mensaje_bienvenida" class="alert alert-success">Ha iniciado sesión como: {{sesion}}</div>
	  	<input id="boton-cerrar" type="button" value="Cerrar sesión" onclick="location.href='/cerrar_sesion';" class="btn btn-warning" />
	  </div>
	  
      <div class="masthead" id="barra_navegacion">
        <h3 class="text-muted">UGR Aerospace Program</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/loged">Inicio</a></li>
            <li><a href="/estadisticas">Estadísticas</a></li>
            <li><a href="/listar">Tabla</a></li>
            <li><a href="/editar_perfil">Editar perfil</a></li>
            <li class="active"><a href="/mapa">Seguimiento Robot</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="twitter">Social</a></li>
          </ul>
        </nav>
      </div>
      <div class="panel panel-primary" id="panel-mapa">
        <div class="panel-heading">Geolocalización del robot</div>
    <div id="map-canvas2" class="jumbotron"></div>
    </div>

  	</div>
    <!-- Site footer -->
      <footer class="footer">
        <p>&copy; UGR Aerospace Program</p>
      </footer>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>