<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Mapa con live data</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeg7_wBHhNsW24D8To6ywYLweM-83sN7E&sensor=true"> </script>
    <script>

var coordenadas;
var marker;
var map;

function actualizarMapa() {
  $.ajax({
                type: 'GET',
                url: '/coordenadas',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (data) {
                  coordenadas = data;
                  var latlng = new google.maps.LatLng(coordenadas[0], coordenadas[1]);
                  marker.setPosition(latlng);
                  map.setCenter(latlng); 
                }
        });
}

function initialize() {
  var myLatlng = new google.maps.LatLng(37.19693701205247, -3.6242650000000367);
  var mapOptions = {
    zoom: 4,
    center: myLatlng
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!',
      icon: '../static/imagenes/ship.png'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

setInterval(actualizarMapa, 2000);


    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>