#cohete{
	width: 100px;
	float: right
}

#botonInfo{
	margin-top: 50px;
}

#formulario{
	margin: auto;
	width: 800px;
	border: solid 1px;
	padding: 50px;
}

#map-canvas { 
		   	margin-left:600px;
			height:300px;
			width:500px;
}

#llegar{
	margin-left:600px;
}
 