#cohete{
	width: 100px;
	float: right
}

#botonInfo{
	margin-top: 50px;
}

#formulario{
	margin: auto;
	width: 800px;
	border: solid 1px;
	padding: 50px;
}

#map-canvas { 
		   	margin-left:600px;
			height:300px;
			width:500px;
}

#llegar{
	margin-left:600px;
}

#mensaje{
	color:red;
}

#boton-cerrar{
	float: right;
}

#tabla_datos{
	margin-top: 50px;
}

#tabla_datos th, td{
	border: solid 1px;
	padding: 10px;
	border: solid 1px;
	text-align: center;
}

#boton_insertar_datos{
	float: left;
	margin-top: 50px;
}

#map-canvas2 {
        height: 500px;
        width: 500px;
}

#panel-mapa{	
	height: 543px;
   	width: 503px;
	margin-top:50px;
}
   
 